<div class="grid grid-cols-1 lg:grid-cols-12 gap-8 h-full">
  <!-- Columna Izquierda (70%) - Galería -->
  <div
    class="lg:col-span-8 bg-white rounded-lg shadow-sm border border-gray-100 p-4 h-full min-h-[500px]"
  >
    <app-galeria-imagenes></app-galeria-imagenes>
  </div>

  <!-- Columna Derecha (30%) - Panel Acceso -->
  <div class="lg:col-span-4 h-full">
    <app-panel-acceso
      (openLogin)="openLogin.emit()"
      (openRegister)="openRegister.emit()"
      (openForgotPassword)="openForgotPassword.emit()"
    >
    </app-panel-acceso>
  </div>
</div>
