<header
  class="relative  h-32 md:h-40 overflow-hidden shadow-lg"
>
  <!-- Background pattern/overlay --> 
  <div
    class="absolute inset-0 opacity-10 bg-[url('/assets/pattern.png')]"
  ></div>

  <!-- Contenido centrado -->
  <div
    class="container mx-auto h-full flex items-center justify-between px-6 relative z-10"
  >
    <!-- Logo Izquierda -->
    <a routerLink="/" class="flex-shrink-0 bg-white/10 backdrop-blur-sm p-2 rounded-lg">
      <img
        src="logof.png"
        alt="logo fonhvim"
        class="h-20 md:h-28 object-contain filter drop-shadow"
      />
    </a>

    <!-- Título Central (Opcional o decorativo) -->
   <!--  <div class="hidden md:block text-center text-white">
      <h1 class="text-5xl font-bold tracking-wider text-vinotinto">FONHVIM</h1>
      <p class="text-xs text-vinotinto tracking-widest uppercase">
        Fondo para el Desarrollo Integral de la Vivienda y Hábitat
      </p>
    </div> -->

    <!-- Logo Derecha -->
    <div class="hidden md:block flex-shrink-0 bg-white/10 backdrop-blur-sm p-2 rounded-lg">
      <img
        src="Logo-gobernacion.png"
        alt="Logo gobernacion de Merida"
        class="h-20 md:h-28 object-contain filter drop-shadow"
      />
    </div>
  </div>

  <!-- Corte diagonal inferior -->
  <div
    class="absolute bottom-0 left-0 right-0 h-8 bg-white"
    style="clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 100%)"
  ></div>
</header>
